name: Build LaTeX document
on: 
  push:
    branches:
      - "*"

permissions:
  contents: read
  pull-requests: read

jobs:
  build_latex:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Install Verdana font
        run: |
          sudo apt-get update
          echo "ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true" | sudo debconf-set-selections
          sudo apt-get install -y ttf-mscorefonts-installer fontconfig
          sudo fc-cache -fv
          fc-list | grep -i verdana || echo "⚠️ Verdana not found"
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: mug_document_src/main.tex
          latexmk_use_lualatex: true
          args: "-synctex=1 -interaction=nonstopmode"
      - name: Commit and push PDF
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: mug_document_src/main.pdf
